{% extends 'index.html' %} {% block title %}Home{% endblock %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">All Posts<span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="pincode" required type="search" placeholder="Pincode"
          aria-label="Search">
        <input class="form-control mr-sm-2" name="date" required type="search" placeholder="Date (dd-mm-yyyy)"
          aria-label="Search">
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron" style="background-color: white;">
    <div class="py-5">
      <h2>Find Availability by PinCode and Date</h2>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="pincode" required type="search" placeholder="Pincode"
        aria-label="Search">
      <input class="form-control mr-sm-2" name="date" required type="date" placeholder="Date (dd-mm-yyyy)"
        aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="py-5">
      <h2>or</h2>
    </div>
    <div class="pb-5">
      <h2>Find Availability by State and District</h2>
    </div>
    <form class="form-inline my-2 my-lg-0">


      <select class="custom-select" id="state-dd" name="state" >
        <option>Select State</option>
      </select>
      <select class="custom-select" id="district-dd" name="district">
        <option>Select District</option>
    <input class="form-control mr-sm-2" name="date" required type="date" placeholder="Date (dd-mm-yyyy)"
        aria-label="Search">
      </select>

      <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</div>

<script>
  var states = [
    {
      "state_id": 1,
      "state_name": "Andaman and Nicobar Islands"
    },
    {
      "state_id": 2,
      "state_name": "Andhra Pradesh"
    },
    {
      "state_id": 3,
      "state_name": "Arunachal Pradesh"
    },
    {
      "state_id": 4,
      "state_name": "Assam"
    },
    {
      "state_id": 5,
      "state_name": "Bihar"
    },
    {
      "state_id": 6,
      "state_name": "Chandigarh"
    },
    {
      "state_id": 7,
      "state_name": "Chhattisgarh"
    },
    {
      "state_id": 8,
      "state_name": "Dadra and Nagar Haveli"
    },
    {
      "state_id": 37,
      "state_name": "Daman and Diu"
    },
    {
      "state_id": 9,
      "state_name": "Delhi"
    },
    {
      "state_id": 10,
      "state_name": "Goa"
    },
    {
      "state_id": 11,
      "state_name": "Gujarat"
    },
    {
      "state_id": 12,
      "state_name": "Haryana"
    },
    {
      "state_id": 13,
      "state_name": "Himachal Pradesh"
    },
    {
      "state_id": 14,
      "state_name": "Jammu and Kashmir"
    },
    {
      "state_id": 15,
      "state_name": "Jharkhand"
    },
    {
      "state_id": 16,
      "state_name": "Karnataka"
    },
    {
      "state_id": 17,
      "state_name": "Kerala"
    },
    {
      "state_id": 18,
      "state_name": "Ladakh"
    },
    {
      "state_id": 19,
      "state_name": "Lakshadweep"
    },
    {
      "state_id": 20,
      "state_name": "Madhya Pradesh"
    },
    {
      "state_id": 21,
      "state_name": "Maharashtra"
    },
    {
      "state_id": 22,
      "state_name": "Manipur"
    },
    {
      "state_id": 23,
      "state_name": "Meghalaya"
    },
    {
      "state_id": 24,
      "state_name": "Mizoram"
    },
    {
      "state_id": 25,
      "state_name": "Nagaland"
    },
    {
      "state_id": 26,
      "state_name": "Odisha"
    },
    {
      "state_id": 27,
      "state_name": "Puducherry"
    },
    {
      "state_id": 28,
      "state_name": "Punjab"
    },
    {
      "state_id": 29,
      "state_name": "Rajasthan"
    },
    {
      "state_id": 30,
      "state_name": "Sikkim"
    },
    {
      "state_id": 31,
      "state_name": "Tamil Nadu"
    },
    {
      "state_id": 32,
      "state_name": "Telangana"
    },
    {
      "state_id": 33,
      "state_name": "Tripura"
    },
    {
      "state_id": 34,
      "state_name": "Uttar Pradesh"
    },
    {
      "state_id": 35,
      "state_name": "Uttarakhand"
    },
    {
      "state_id": 36,
      "state_name": "West Bengal"
    }
  ]

  auxArr = [];
  $.each(states, function (i, option) {
    auxArr[i] = "<option value='" + states[i].state_id + "'>" + states[i].state_name + "</option>";
  });
  $('#state-dd').append(auxArr.join(''));
  
  var selectedState;
  $(document).ready(function () {
    $("#state-dd").change(function () {
      $('#district-dd').empty();
      selectedState = $(this).children("option:selected").val();
      alert("You have selected the state - " + selectedState);
      jQuery.ajax({
          url: 'https://cdn-api.co-vin.in/api/v2/admin/location/districts/' + selectedState,
          success: function (result) {
            if (result.isOk == false) alert(result.message);
            auxArr2 = [];
            $.each(result.districts, function (i, option) {
              auxArr2[i] = "<option value='" + result.districts[i].district_id + "'>" + result.districts[i].district_name + "</option>";
            });
            $('#district-dd').append(auxArr2.join(''));
          },
          async: false
        });
    });
  });

</script>
{% endblock %}
